<!--view that diplays the details of paricular characters-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>GENDER</th>
                        <th>BORN</th>
                        <th>DIED</th>
                        <th>CULTURE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{charname}}</td>
                        <td>{{gender}}</td>
                        <td>{{born}}</td>
                        <td>{{died}}</td>
                        <td>{{culture}}</td>
                    </tr>

                </tbody>
            </table>
            <h2 class="centre" style="font-family: 'Muli', sans-serif; color: red;" ng-if="books">BOOKS</h2>
            <hr\>

                <div ng-repeat="name1 in books">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-body">
                                    <h4 class="card-title">{{name1}}</h4>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
           </div>
      </div>
</div>     